In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://xrm37928:k2lcdw79h46%407f33@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: xrm37928@BLUDB'

In [3]:
%sql SELECT count(*) FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [17]:
%%sql
SELECT community_area_name FROM CENSUS_DATA WHERE hardship_index = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

In [20]:
%%sql
SELECT community_area_number FROM CHICAGO_CRIME_DATA limit 2

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(58,), (23,)]

In [24]:
%%sql
SELECT community_area_number,community_area_name FROM CENSUS_DATA limit 2

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park'), (2, 'West Ridge')]

In [41]:
%%sql
SELECT COUNT(*) as "CRIME_COUNT", community_area_number from CHICAGO_CRIME_DATA group by community_area_number order by CRIME_COUNT DESC LIMIT 1

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('43'), 25)]

In [43]:
%%sql
SELECT COUNT(community_area_number) as "CRIME_COUNT", community_area_number from CHICAGO_CRIME_DATA group by community_area_number order by CRIME_COUNT DESC LIMIT 1

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('43'), 25)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [53]:
%%sql
SELECT DISTINCT(CENSUS_DATA.community_area_name) 
FROM CENSUS_DATA, CHICAGO_CRIME_DATA 
WHERE CENSUS_DATA.community_area_number = (SELECT community_area_number 
                                           FROM (SELECT 
                                                 COUNT(community_area_number) 
                                                 as "CRIME_COUNT", community_area_number 
                                                 from CHICAGO_CRIME_DATA 
                                                 group by community_area_number 
                                                 order by CRIME_COUNT 
                                                 DESC 
                                                 LIMIT 1))

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [54]:
%sql SELECT DISTINCT PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://xrm37928:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]